<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equip="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="estilos.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Detalle</title>

</head>

<body style='background-color: #E4E4E4;'>



<nav class="navbar-expand  navbar-dark" style="background-color: #0F0061;">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'inicio'%}">Inicio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <h1><u>{{ producto.nombre_prod }}</u></h1>

  <div class="container-fluid">
    <div class="row py-5" id="inicio">
      <div class="col-md-6 text-center">
        <div class="card" style="width: 80%;"> 
          <div class="card-body">
            <h5 class="card-title">Detalles del producto:</h5>
            <p class="card-text">
                <p>Descripción: {{ producto.descripcion_prod }}</p> <br>
                <p>Categoria: {{ producto.categoria_prod }}</p> <br>
                <p>Cantidad: {{ producto.cantidad_prod }}</p> <br>
                <p>Valor: {{ producto.valor }}</p> <br>


                    <label for="cantidad">Cantidad a comprar </label>
                   <input type="number" class="form-control" id="cantidad" name="cantidad" required>

                   <a class="btn btn-primary" href="{%url 'marketplace'%}" role="button">Comprar</a>
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-6 text-center">
        <img src="https://bolavip.com/__export/1636918331496/sites/bolavip/img/2021/11/14/ps5-juegos-mas-jugados_crop1636918331053.jpg_1546398727.jpg"class="img-fluid" alt="Descripción de la imagen" style="width: 80%;">
        <img src="https://www.muycomputer.com/wp-content/uploads/2020/04/juegos-de-PS5-3.jpg"class="img-fluid" alt="Descripción de la imagen" style="width: 80%;">
      </div>

</div>
</body>
</html>

