/* Estilo para el cuerpo de la página */
body {
  background-color: #E4E4E4;
  font-family: 'Arial', sans-serif;
}

/* Estilo para la barra de navegación */
.navbar {
  background-color: #0F0061;
  padding: 1rem;
}

.navbar-toggler-icon {
  background-color: white;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  color: #ddd;
}

/* Estilo para las tarjetas de productos */
.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

/* Estilo para los botones en las tarjetas */
.btn-primary {
  background-color: #6166f5;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #1A1A64;
}

/* Estilo para los títulos y descripciones de las tarjetas */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  color: #555;
}

/* Estilo para las secciones */
#inicio,
#producto {
  margin-bottom: 2rem;
}

/* Estilo para los títulos de sección */
.py-5 h5 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.py-5 p {
  color: #777;
  margin-bottom: 1rem;
}