<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equip="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Inicio</title>

</head>

<body style='background-color: #E4E4E4;'>



<nav class="navbar-expand  navbar-dark" style="background-color: #0F0061;">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'login'%}">Ingresar</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'registro'%}">Registro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <img src="http://www.betaarchive.com/imageupload/2013-02/1361743201.or.1783.png"class="img-fluid" alt="Descripción de la imagen" style="width: 100%;">



</body>
</html>

