<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equip="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="estilos.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Catalogo</title>

</head>

<body style='background-color: #E4E4E4;'>



    <nav class="navbar-expand  navbar-dark" style="background-color: #0F0061;">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{%url 'inicio'%}">Inicio</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


  <div class="container-fluid">
    <div class="row py-5" id="inicio">
        <div class="col-md-6 text-center mx-auto">
            <div class="card" style="width: 100%;"> 
                <div class="card-body">
                    <h5 class="card-title">juegos #1</h5>
                    <p class="card-text">Aventura</p>
                    <a href="{% url 'marketplace_cat' categoria_prod='celular' %}" class="btn btn-primary" style="background-color: #6166f5;">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="row py-5" id="producto">

    <div class="col-md-4 text-center">
        <div class="card" style="width: 18rem;">
            <img src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_656/b_white/f_auto/q_auto/ncom/software/switch/70010000000964/811461b8d1cacf1f2da791b478dccfe2a55457780364c3d5a95fbfcdd4c3086f"
                class="card-img-top" alt="celularuno">
            <div class="card-body">
                <h5 class="card-title">Minecraft</h5>
                <a href="{% url 'detalle' producto_id=1 %}" class="btn btn-primary" style="background-color: #6166f5;">Detalle</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center my-auto">
        <div class="card" style="width: 18rem;">
            <img src="https://s.yimg.com/ny/api/res/1.2/TVhy2Y1INRSZ4xVp1d8D5A--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTY0MA--/https://media.zenfs.com/es/levelup_525/dab6940609bf7be68c6fdbdb3c0cfcd0"
                class="card-img-top" alt="celulardos">
            <div class="card-body">
                <h5 class="card-title">Five Nights at Freddy's</h5>
                <a href="{% url 'detalle' producto_id=2 %}" class="btn btn-primary" style="background-color: #6166f5;">Detalle</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center my-auto">
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Zelda_2017.svg/1920px-Zelda_2017.svg.png"
                class="card-img-top" alt="celulartres">
            <div class="card-body">
                <h5 class="card-title">The Legend of Zelda: Ocarina of Time</h5>
                <a href="{% url 'detalle' producto_id=3 %}" class="btn btn-primary" style="background-color: #6166f5;">Detalle</a>
            </div>
        </div>
    </div>
</div>
</div>





<div class="container-fluid">
    <div class="row py-5" id="inicio">
        <div class="col-md-6 text-center mx-auto">
            <div class="card" style="width: 100%;"> 
                <div class="card-body">
                    <h5 class="card-title">Juegos #2</h5>
                    <p class="card-text">Accion</p>
                    <a href="{% url 'marketplace_cat' categoria_prod='portatil' %}" class="btn btn-primary" style="background-color: #6166f5;">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="row py-5" id="producto">

    <div class="col-md-4 text-center">
        <div class="card" style="width: 18rem;">
            <img src="https://www.eltiempo.com/files/article_main_1200/uploads/2023/03/07/6407c21a7688f.jpeg"
                class="card-img-top" alt="portatiluno">
            <div class="card-body">
                <h5 class="card-title">GTA V</h5>
                <a href="{% url 'detalle' producto_id=6 %}" class="btn btn-primary" style="background-color: #6166f5;">Detalle</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center my-auto">
        <div class="card" style="width: 18rem;">
            <img src="https://plusgami.com/wp-content/uploads/2020/12/BioShock-Remastered.jpg"
                class="card-img-top" alt="portatildos">
            <div class="card-body">
                <h5 class="card-title">BioShock</h5>
                <a href="{% url 'detalle' producto_id=7 %}" class="btn btn-primary" style="background-color: #6166f5;">Detalle</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center my-auto">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1245620/header.jpg?t=1700164457"
                class="card-img-top" alt="portatiltres">
            <div class="card-body">
                <h5 class="card-title">Elden Ring</h5>
                <a href="{% url 'detalle' producto_id=8 %}" class="btn btn-primary" style="background-color: #6166f5;">Detalle</a>
            </div>
        </div>
    </div>
</div>
</div>


</body>
</html>