<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equip="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="estilos.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Registro</title>

</head>

<body style='background-color: #E4E4E4;'>



<nav class="navbar-expand  navbar-dark" style="background-color: #0F0061;">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'inicio'%}">Inicio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row py-5" id="registro">
      <div class="col-md-6 text-center">
        <div class="card" style="width: 80%;"> 
          <div class="card-body">
            <h5 class="card-title">Registro</h5>
            <h6 class="card-subtitle mb-2 text-muted">Ingresa tus datos</h6>
            <p class="card-text">
              
           
           <form enctype= "multipart/form-data" method="post">
             {% csrf_token %}
             {%for campo in formulario%}
          
              <div class= "mb-3">
               <label for ="" class="form-label" >{{campo.label}}</label>
          
               <input type= "{{campo.field.widget.input_type}}"
                 class="form-control" 
                 name="{{campo.name}}"
                 id="" 
                 aria-describedby="helpId" 
                 placeholder="{{campo.label}}" />
              </div>
                
              
             <div class= "col-12 help-text"> {{campo.errors}} </div>
              {%endfor%}

              <p>Nota: La fecha de nacimiento debe tener este formato: AAAA-MM-DD [Año-mes-dia]</p>

              <input name="" id="" class="btn btn-primary" type="submit" value="Guardar Info">
          
            </form>


            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center my-auto">
        <div class="card" style="width: 70%;">
          <img src="https://www.gob.mx/cms/uploads/article/main_image/125156/Registro.jpg" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>


</body>
</html>

