{% extends 'core/base.html' %}

{% block content %}

<h3></h3>
{% if request.user.is_authenticated %}
    <hr>
    <h4>
        {{ user.username | upper }}, bienvenido
    </h4>
    <title>Texto sobre la Imagen</title>
    <style>
        /* Estilo para alinear productos en línea */
        .product {
            display: inline-block;
            margin: 10px;
            text-align: center;
            position: relative; /* Añadir posición relativa al contenedor */
        }

        /* Estilo para el texto sobre la imagen */
        .imageText {
            position: absolute;
            top: 25%; /* Alinea el texto al centro verticalmente */
            left: 25%; /* Alinea el texto al centro horizontalmente */
            transform: translate(-50%, -50%); /* Centra el texto completamente */
            color: rgb(0, 0, 0);
            font-size: 24px; /* Cambia el tamaño de la letra según tu preferencia */
        font-family: 'Arial Black', sans-serif; /* Cambia la tipografía según tu preferencia */
        font-weight: bold;
        }
        .imageText2 {
            position: absolute;
            top: 30%; /* Alinea el texto al centro verticalmente */
            left: 25%; /* Alinea el texto al centro horizontalmente */
            transform: translate(-50%, -50%); /* Centra el texto completamente */
            color: rgb(0, 0, 0);
            font-size: 24px; /* Cambia el tamaño de la letra según tu preferencia */
        font-family: 'Arial Black', sans-serif; /* Cambia la tipografía según tu preferencia */
        font-weight: bold;
        }
    </style>
   <div class="product">
    <img src="https://img.freepik.com/foto-gratis/agujas-tejer-lana-canasta-espacio-copia_23-2148859150.jpg?w=1380&t=st=1701912316~exp=1701912916~hmac=01fe62145bfe5d4e77f6919e7a0555430edfc3761faf29216167f0e7980246a9" />

    <!-- Texto sobre la imagen -->
    <div class="imageText">Conoce nuestra variedad de</div>
    <div class="imageText2"> Mochilas</div>
</div>
{% endif %}



{% endblock %}