{% extends 'core/base.html' %}

{% block content %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <style>
        /* Estilo para alinear productos y detalles en línea */
        .product {
            display: inline-block;
            margin: 10px;
            text-align: center;
        }

        /* Estilo para el contenedor de detalles */
        .productDetailsContainer {
            display: inline-block;
            vertical-align: top;
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>

<div class="product">
    <img src="https://gladysberev.com/wp-content/uploads/2019/01/bolso-punto-colorido-bodegon-2-scaled.jpg" alt="Alegria" width="480" height="380" />
    <h3>Alegria</h3>
    <p>Precio: 34$</p>

    <!-- En el botón "Details", llama a la función y pasa los detalles específicos -->
    <button onclick="loadProductDetails('Alegria', 'La mochila tejida de múltiples colores es un lienzo de alegría y creatividad. Como un arcoíris entretejido, cada tono cuenta una historia, creando un viaje visual vibrante y lleno de vitalidad.', 'productDetailsContainer1')">Detalles</button>
</div>

<div id="productDetailsContainer1" class="productDetailsContainer"></div>

<div class="product">
    <img src="https://gladysberev.com/wp-content/uploads/2019/01/bolsa-punto-al-aire-libre-bodegon-scaled.jpg" alt="Tejida del sol" width="480" height="380" />
    <h3>Tejida del sol</h3>
    <p>20$</p>

    <!-- En el botón "Details", llama a la función y pasa los detalles específicos -->
    <button onclick="loadProductDetails('Tejida del sol', 'La mochila tejida en tonos naranjas resplandece con vitalidad y energía. Su tejido, como un atardecer vibrante, atrapa la calidez del sol. Una fusión de tonalidades que evoca la pasión y la aventura en cada puntada.', 'productDetailsContainer2')">Detalles</button>
</div>

<div id="productDetailsContainer2" class="productDetailsContainer"></div>

<div class="product">
    <img src="https://gladysberev.com/wp-content/uploads/2019/01/bolso-colorido-junto-ventana-scaled.jpg" alt="Dulzura" width="480" height="380" />
    <h3>Dulzura</h3>
    <p>45$</p>

    <!-- En el botón "Details", llama a la función y pasa los detalles específicos -->
    <button onclick="loadProductDetails('Dulzura', 'La mochila tejida en rosa es un sueño hecho realidad: su tejido suave y delicado refleja ternura y elegancia. Como pétalos entrelazados, su color evoca dulzura y feminidad, creando un accesorio encantador y lleno de estilo.', 'productDetailsContainer3')">Detalles</button>
</div>

<div id="productDetailsContainer3" class="productDetailsContainer"></div>

<div class="product">
    <img src="https://gladysberev.com/wp-content/uploads/2023/11/bolso-punto-colorido-bodegon-1-scaled.jpg" alt="Nombre del producto" width="480" height="380" />
    <h3>Tejido Caribeño</h3>
    <p>12$</p>

    <!-- En el botón "Details", llama a la función y pasa los detalles específicos -->
    <button onclick="loadProductDetails('Tejido Caribeño', 'Esta mochila tejida fusiona colores en un tejido único, una obra de arte funcional. Su textura invita a la aventura, cada hilo cuenta una historia.', 'productDetailsContainer4')">Detalles</button>
</div>

<div id="productDetailsContainer4" class="productDetailsContainer"></div>

<script>
     function loadProductDetails(productName, productDescription, containerId) {
        // Obtener el contenedor donde se mostrarán los detalles
        const productDetailsContainer = document.getElementById(containerId);

        // Verificar si el contenedor ya tiene contenido
        if (productDetailsContainer.innerHTML.trim() !== '') {
            // Si ya tiene contenido, vaciar el contenedor para ocultar la información
            productDetailsContainer.innerHTML = '';
        } else {
            // Si no tiene contenido, crear el contenido de los detalles del producto
            const detailsHTML = `
                <h4>Detalles del Producto</h4>
                <p><strong>Nombre:</strong> ${productName}</p>
                <p><strong>Descripción:</strong> ${productDescription}</p>
            `;

            // Mostrar los detalles en el contenedor
            productDetailsContainer.innerHTML = detailsHTML;
        }
    }
</script>

</body>
</html>




{% endblock %}